# exec and leads should be aware of all changes
* @ubclaunchpad/exec @ubclaunchpad/leads

# team onboarding pages
handbook/onboarding/design @ubclaunchpad/design @ubclaunchpad/exec @ubclaunchpad/leads
handbook/onboarding/strategy @ubclaunchpad/strategy @ubclaunchpad/exec @ubclaunchpad/leads

# messaging and direction
handbook/manifesto.md @ubclaunchpad/strategy @ubclaunchpad/exec @ubclaunchpad/leads

# strategy
handbook/strategy @ubclaunchpad/strategy
