#write {
	margin: 0 auto;
	padding: 20px 30px 100px;
	-webkit-font-smoothing: antialiased;
	line-height: 1.6rem;
	letter-spacing: 0;
	margin: 0;
	font-size: 16px;

	p {
		line-height: 1.6rem;
		word-spacing: 0.05rem;
	}

	ol li {
		padding-left: 0.5rem;
	}

	> ul:first-child,
	> ol:first-child {
		margin-top: 30px;
	}

	& > *:first-child {
		margin-top: 0 !important;
	}

	& > *:last-child {
		margin-bottom: 0 !important;
	}

	a {
		color: var(--color-link-0);
		font-weight: 600;
		padding: 0 2px;
		text-decoration: none;
	}

	p,
	blockquote,
	ul {
		width: 100%;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		position: relative;
		display: flex;
		align-items: center;
		margin-top: 1rem;
		margin-bottom: 1rem;
		font-weight: bold;
		line-height: 1.4;
		width: 100%;

		cursor: text;

		a {
			content: '#';
			padding-right: 5px;

			span {
				&::after {
					content: '#';
					opacity: 0.2;
				}
			}
		}
	}

	h1:hover a.anchor,
	h2:hover a.anchor,
	h3:hover a.anchor,
	h4:hover a.anchor,
	h5:hover a.anchor,
	h6:hover a.anchor {
		text-decoration: none;
	}

	h1 tt,
	h1 code,
	h2 tt,
	h2 code,
	h3 tt,
	h3 code,
	h4 tt,
	h4 code,
	h5 tt,
	h5 code,
	h6 tt,
	h6 code {
		font-size: inherit !important;
	}

	h2 a,
	h3 a {
		color: #34495e;
	}

	h1 {
		padding: 0;
		padding-bottom: 0.4rem;
		font-size: 2.2rem;
		line-height: 1.3;
	}

	h2 {
		font-size: 1.75rem;
		line-height: 1.225;
		margin: 35px 0 15px;
		padding-bottom: 0.5em;
		border-bottom: 1px solid #ddd;
	}

	h3 {
		font-size: 1.4rem;
		line-height: 1.43;
		margin: 20px 0 7px;
	}

	h4 {
		font-size: 1.2rem;
	}

	h5 {
		font-size: 1rem;
	}

	h6 {
		font-size: 1rem;
		color: #777;
	}

	p,
	blockquote,
	ul,
	ol,
	dl,
	table {
		margin: 0.8em 0;
	}

	li > ol,
	li > ul {
		margin: 0 0;
	}

	hr {
		height: 2px;
		padding: 0;
		margin: 16px 0;
		background-color: #e7e7e7;
		border: 0 none;
		overflow: hidden;
		box-sizing: content-box;
	}

	& > h2:first-child {
		margin-top: 0;
		padding-top: 0;
	}

	& > h1:first-child {
		margin-top: 0;
		padding-top: 0;
	}

	& > h1:first-child + h2 {
		margin-top: 0;
		padding-top: 0;
	}

	& > h3:first-child,
	& > h4:first-child,
	& > h5:first-child,
	& > h6:first-child {
		margin-top: 0;
		padding-top: 0;
	}

	a:first-child h1,
	a:first-child h2,
	a:first-child h3,
	a:first-child h4,
	a:first-child h5,
	a:first-child h6 {
		margin-top: 0;
		padding-top: 0;
	}

	h1 p,
	h2 p,
	h3 p,
	h4 p,
	h5 p,
	h6 p {
		margin-top: 0;
	}

	li p.first {
		display: inline-block;
	}

	ul,
	ol {
		padding-left: 30px;
	}

	ul:first-child,
	ol:first-child {
		margin-top: 0;
	}

	ul:last-child,
	ol:last-child {
		margin-bottom: 0;
	}

	blockquote {
		border: 1px solid var(--color-border-0);
		padding: 4px 10px;
		color: var(--color-text-2);
		border-radius: var(--border-radius-medium);
		background-color: var(--color-blockquote-0);
	}

	table {
		padding: 0;
		word-break: initial;
	}

	strong {
		padding: 0 1px;
	}

	em {
		padding: 0 5px 0 2px;
	}

	table thead th {
		background-color: #f2f2f2;
	}

	.CodeMirror-gutters {
		border-right: none;
	}

	.md-fences {
		border: 1px solid #f4f4f4;
		-webkit-font-smoothing: initial;
		margin: 0.8rem 0 !important;
		padding: 0.3rem 0 !important;
		line-height: 1.43rem;
		background-color: #f8f8f8 !important;
		border-radius: 2px;
		font-family: var(--font-monospace);
		font-size: 0.7rem;
		word-wrap: normal;
	}

	.CodeMirror-wrap .CodeMirror-code pre {
		padding-left: 12px;
	}

	code {
		background-color: var(--color-code-block);
	}

	pre {
		background-color: var(--color-code-block);
		padding: 10px 5px;
		border-radius: var(--border-radius-medium);

		code {
			background-color: transparent;
		}
	}

	code,
	tt {
		padding: 2px 4px;
		border-radius: 2px;
		font-family: var(--font-monospace);
		color: var(--color-text-primary);
		background-color: var(--color-code-block);
	}

	tt {
		margin: 0 2px;
	}

	.md-footnote {
		background-color: #f8f8f8;
		color: #e96900;
	}

	mark {
		background-color: #ebffeb;
		border-radius: 2px;
		padding: 2px 4px;
		margin: 0 2px;
		color: #222;
		font-weight: 500;
	}

	del {
		padding: 1px 2px;
	}

	.cm-s-inner .cm-link,
	.cm-s-inner.cm-link {
		color: #22a2c9;
	}

	.cm-s-inner .cm-string {
		color: #22a2c9;
	}

	.md-task-list-item > input {
		margin-left: -1.3em;
	}

	.md-fences {
		background-color: #f8f8f8;
	}

	.md-diagram-panel {
		position: static !important;
	}

	pre.md-meta-block {
		padding: 1rem;
		font-size: 85%;
		line-height: 1.45;
		background-color: #f7f7f7;
		border: 0;
		border-radius: 3px;
		color: #777777;
		margin-top: 0 !important;
	}

	.mathjax-block > .code-tooltip {
		bottom: 0.375rem;
	}

	& > h3.md-focus:before {
		left: -1.5625rem;
		top: 0.375rem;
	}

	& > h4.md-focus:before {
		left: -1.5625rem;
		top: 0.285714286rem;
	}

	& > h5.md-focus:before {
		left: -1.5625rem;
		top: 0.285714286rem;
	}

	& > h6.md-focus:before {
		left: -1.5625rem;
		top: 0.285714286rem;
	}

	.md-image > .md-meta {
		border-radius: 3px;
		font-family: var(--font-monospace);
		padding: 2px 0 0 4px;
		font-size: 0.9em;
		color: inherit;
	}

	#typora-quick-open {
		border: 1px solid #ddd;
		background-color: #f8f8f8;
	}

	#typora-quick-open-item {
		background-color: #fafafa;
		border-color: #fefefe #e5e5e5 #e5e5e5 #eee;
		border-style: solid;
		border-width: 1px;
	}

	#md-notification:before {
		top: 10px;
	}

	.on-focus-mode blockquote {
		border-left-color: rgba(85, 85, 85, 0.12);
	}

	header,
	.context-menu,
	.megamenu-content,
	footer {
		font-family: var(--font-sans-serif);
	}

	.table-wrapper {
		display: flex;
		justify-content: flex-start;
		width: 100%;
		padding: 0rem 0rem;
		overflow-x: scroll;
		border-radius: var(--border-radius-medium);
		border: 1px solid var(--color-border-0);
		height: fit-content;
		margin: 1rem 0;

		table {
			padding: 0rem;
			border-collapse: separate;
			border-spacing: 0px;
			height: fit-content;

			width: 100%;
			overflow-x: scroll;
			margin: 0;

			thead > :first-child > :last-child {
				border-top-right-radius: var(--border-radium-medium);
			}

			thead th:first-of-type {
				border-top-left-radius: var(--border-radium-medium);
			}

			tbody > :last-child > :last-child {
				border-bottom-right-radius: var(--border-radium-medium);
			}

			tbody > :last-child > :first-child {
				border-bottom-left-radius: var(--border-radium-medium);
			}

			thead tr {
				text-align: left;
			}

			tr {
				th {
					font-weight: 400;
					background-color: var(--color-bg-table-header);
					font-size: 0.9rem;
					white-space: nowrap;
				}
				td,
				th {
					padding: 0.4rem;
					white-space: nowrap;
					font-weight: 600;
					height: 1rem;
					border-bottom: 1px solid var(--color-table-border-0);
				}
			}

			tbody {
				font-size: 0.8rem;

				a {
					background-color: transparent;
				}
				button {
					background-color: transparent;
					img {
						width: 20px;
					}
				}
				tr:nth-of-type(odd) {
					background-color: var(--color-bg-table-row-0);
				}
				tr:nth-of-type(even) {
					background-color: var(--color-bg-table-row-1);
				}
			}
		}
	}
}
