/* font face configs */
.markdown {
	position: relative;
	--font-monospace: 'Fira Code', 'Roboto Mono', monospace !important;
	font-size: 15px;
	#write {
		max-width: 860px;
		margin: 0 auto;
		padding: 20px 30px 100px;
	}

	::selection {
		background: var(--color-text-primary);
		color: var(--color-text-0);
	}

	#write p {
		line-height: 1.5rem;
		word-spacing: 0.05rem;
		color: var(--color-text-0);
	}

	#write ol li {
		padding: 0.5rem;
	}

	#write li {
		padding: 0.2rem;
		color: var(--color-text-1);
	}

	#write > ul:first-child,
	#write > ol:first-child {
		margin-top: 30px;
	}

	body > *:first-child {
		margin-top: 0 !important;
	}

	body > *:last-child {
		margin-bottom: 0 !important;
	}

	a {
		color: var(--color-text-primary);
		font-weight: 600;
		padding: 0 2px;
		text-decoration: none;
	}

	h1 {
		color: var(--color-text-0);
		padding: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		position: relative;
		margin-top: 1rem;
		margin-bottom: 1rem;
		font-weight: bold;
		line-height: 1.4;
		cursor: text;
		width: fit-content;
	}

	h3 {
		display: flex;
		column-gap: 3px;
	}
	h1:hover a.anchor,
	h2:hover a.anchor,
	h3:hover a.anchor,
	h4:hover a.anchor,
	h5:hover a.anchor,
	h6:hover a.anchor {
		text-decoration: none;
	}

	h1 tt,
	h1 code {
		font-size: inherit !important;
	}

	h2 tt,
	h2 code {
		font-size: inherit !important;
	}

	h3 tt,
	h3 code {
		font-size: inherit !important;
	}

	h4 tt,
	h4 code {
		font-size: inherit !important;
	}

	h5 tt,
	h5 code {
		font-size: inherit !important;
	}

	h6 tt,
	h6 code {
		font-size: inherit !important;
	}

	h2 a,
	h3 a {
		color: #34495e;
	}

	h1 {
		padding-bottom: 0.4rem;
		font-size: 2.2rem;
		line-height: 1.3;
	}

	h2 {
		font-size: 1.75rem;
		line-height: 1.225;
		margin: 35px 0 15px;
		padding-bottom: 0.5em;
		border-bottom: 1px solid var(--color-border-1);
	}

	h3 {
		font-size: 1.4rem;
		line-height: 1.43;
		margin: 20px 0 7px;
	}

	h4 {
		font-size: 1.2rem;
	}

	h5 {
		font-size: 1rem;
	}

	h6 {
		font-size: 1rem;
		color: #777;
	}

	p,
	blockquote,
	ul,
	ol,
	dl,
	table {
		margin: 0.8em 0;
	}

	li > ol,
	li > ul {
		margin: 0 0;
	}

	hr {
		height: 2px;
		padding: 0;
		margin: 16px 0;
		background-color: var(--color-border-1);
		border: 0 none;
		overflow: hidden;
		box-sizing: content-box;
	}

	body > h2:first-child {
		margin-top: 0;
		padding-top: 0;
	}

	body > h1:first-child {
		margin-top: 0;
		padding-top: 0;
	}

	body > h1:first-child + h2 {
		margin-top: 0;
		padding-top: 0;
	}

	body > h3:first-child,
	body > h4:first-child,
	body > h5:first-child,
	body > h6:first-child {
		margin-top: 0;
		padding-top: 0;
	}

	a:first-child h1,
	a:first-child h2,
	a:first-child h3,
	a:first-child h4,
	a:first-child h5,
	a:first-child h6 {
		margin-top: 0;
		padding-top: 0;
	}

	h1 p,
	h2 p,
	h3 p,
	h4 p,
	h5 p,
	h6 p {
		margin-top: 0;
	}

	li p.first {
		display: inline-block;
	}

	ul,
	ol {
		padding-left: 30px;
	}

	ul:first-child,
	ol:first-child {
		margin-top: 0;
	}

	ul:last-child,
	ol:last-child {
		margin-bottom: 0;
	}

	#write blockquote {
		border-left: 2px solid var(--color-text-primary);
		padding: 10px 15px;
		background-color: var(--color-bg-0-faded);

		p {
			color: var(--color-text-1);
		}
	}

	table {
		padding: 0;
		word-break: initial;
	}

	table tr {
		border-top: 1px solid var(--color-border-1);
		margin: 0;
		padding: 0;
	}

	table tr:nth-child(2n),
	thead {
		background-color: var(--color-bg-primary);
	}

	table tr th {
		font-weight: bold;
		border: 1px solid var(--color-border-1);
		border-bottom: 0;
		text-align: left;
		margin: 0;
		padding: 6px 13px;
	}

	table tr td {
		border: 1px solid var(--color-border-1);
		text-align: left;
		margin: 0;
		padding: 6px 13px;
	}

	table tr th:first-child,
	table tr td:first-child {
		margin-top: 0;
	}

	table tr th:last-child,
	table tr td:last-child {
		margin-bottom: 0;
	}

	#write strong {
		padding: 0 1px;
	}

	#write em {
		padding: 0 5px 0 2px;
	}

	#write table thead th {
		background-color: var(--color-bg-0);
	}

	#write .CodeMirror-gutters {
		border-right: none;
	}

	#write .md-fences {
		border: 1px solid #f4f4f4;
		-webkit-font-smoothing: initial;
		margin: 0.8rem 0 !important;
		padding: 0.3rem 0 !important;
		line-height: 1.43rem;
		background-color: #f8f8f8 !important;
		border-radius: 2px;
		font-family: var(--font-monospace);
		font-size: 0.85rem;
		word-wrap: normal;
	}

	#write .CodeMirror-wrap .CodeMirror-code pre {
		padding-left: 12px;
	}

	#write pre code {
		padding: 8px 10px;
		border-radius: 2px;
		font-family: var(--font-monospace);
		font-size: 0.92rem;
		color: var(--color-text-secondary);
		background-color: var(--color-bg-0);
		overflow: hidden;
		display: block;
		width: 100%;
	}

	#write pre {
		margin-bottom: 10px;
		margin-top: 10px;
	}

	#write code {
		padding: 2px 4px;
		border-radius: 2px;
		font-family: var(--font-monospace);
		font-size: 0.92rem;
		color: var(--color-text-secondary);
		background-color: var(--color-bg-0);
	}

	tt {
		padding: 2px 4px;
		border-radius: 2px;
		font-family: var(--font-monospace);
		font-size: 0.92rem;
		color: var(--color-text-secondary);
		background-color: var(--color-bg-0);
	}

	tt {
		margin: 0 2px;
	}

	#write .md-footnote {
		background-color: #f8f8f8;
		color: #e96900;
	}

	/* heighlight. */
	#write mark {
		background-color: #ebffeb;
		border-radius: 2px;
		padding: 2px 4px;
		margin: 0 2px;
		color: #222;
		font-weight: 500;
	}

	#write del {
		padding: 1px 2px;
	}

	.cm-s-inner .cm-link,
	.cm-s-inner.cm-link {
		color: #22a2c9;
	}

	.cm-s-inner .cm-string {
		color: #22a2c9;
	}

	.md-task-list-item > input {
		margin-left: -1.3em;
	}

	@media print {
		html {
			font-size: 13px;
		}

		table,
		pre {
			page-break-inside: avoid;
		}

		pre {
			word-wrap: break-word;
		}
	}

	.md-fences {
		background-color: #f8f8f8;
	}

	.md-diagram-panel {
		position: static !important;
	}

	#write pre.md-meta-block {
		padding: 1rem;
		font-size: 85%;
		line-height: 1.45;
		background-color: #f7f7f7;
		border: 0;
		border-radius: 3px;
		color: #777777;
		margin-top: 0 !important;
	}

	.mathjax-block > .code-tooltip {
		bottom: 0.375rem;
	}

	#write > h3.md-focus:before {
		left: -1.5625rem;
		top: 0.375rem;
	}

	#write > h4.md-focus:before {
		left: -1.5625rem;
		top: 0.285714286rem;
	}

	#write > h5.md-focus:before {
		left: -1.5625rem;
		top: 0.285714286rem;
	}

	#write > h6.md-focus:before {
		left: -1.5625rem;
		top: 0.285714286rem;
	}

	.md-lang {
		color: #b4654d;
	}
}
