:root,
html[data-theme='dark'] {
	--color-black: #000000;
	--color-black-1: #0c0c0c;
	--color-black-2: #101010;

	// Background colours
	--color-bg-0: #1c1c1e;
	--color-bg-1: #1c1c1e;
	--color-bg-2: #222225;
	--color-bg-3: #2a2a33;
	--color-bg-4: #2b2b38;
	--color-bg-5: #454556;

	--color-bg-0-faded: #1c1c1e9f;
	--color-bg-primary: #809cff;
	--color-bg-primary-faded: rgba(114, 101, 231, 0.65);

	// Text colours
	--color-text-0: #fdfdfd;
	--color-text-1: #e2e2e2;
	--color-text-2: #dedede;
	--color-text-3: rgba(196, 196, 196, 0.87);
	--color-link-0: #2137e0;

	// border radius
	--border-radius-none: 0;
	--border-radius-small: 3px;
	--border-radius-medium: 7px;
	--border-radius-large: 10px;
	--border-radius-xlarge: 15px;
	--border-radius-2xlarge: 25px;
	--border-radius-3xlarge: 35px;

	--box-shadow-small: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	--color-text-primary: #809cff;
	--color-text-secondary: #baa6ff;

	--color-bg-secondary: #ff6584ff;
	--color-bg-secondary-faded: rgba(255, 108, 61, 0.75);

	--color-bg-tertiary: #083bce;
	--color-bg-tertiary-faded: #083bce;

	--color-text-dark: #000000;

	--color-border-0: rgba(33, 35, 37, 0.87);
	--color-border-1: rgba(33, 35, 37, 0.87);
	--color-border-2: #2f3336;
}

html[data-theme='light'] {
	--color-bg-0: #f5f5f5;
	--color-bg-1: #eaeaea;
	--color-bg-2: #f5f5f5;
	--color-bg-info: #c3cfe3b1;
	--color-bg-primary: #809cff;
	--color-bg-primary-alt: #a8b9ff;
	--color-bg-primary-faded: #c7daf9b1;

	--color-bg-primary: #809cff;
	--color-bg-primary-faded: rgba(114, 101, 231, 0.65);

	--color-bg-secondary: #ebf9bf;
	--color-bg-secondary-faded: #f1f8d9;

	--color-bg-tertiary: #ddd5f1;
	--color-bg-tertiary-faded: #ddd0fc;

	--color-bg-primary-dark: #23263d;
	--color-bg-primary-dark-2: #323136;
	--color-bg-primary-dark-faded: #242035bb;
	--color-text-0: #353535;
	--color-text-1: #555555;
	--color-text-0-light: #f3f3f3;
	--color-text-1-light: #9e9e9e;

	--color-link-0: #2137e0;

	--color-accent-0: #9c67ff;
	--color-accent-1: #7167ff;
}
