@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

*
  font-family: 'Nunito', sans-serif;

a
  font-weight: 600;

// Smaller landing page logo
.home
  .hero
    img
      max-height: 180px !important;

// Dark mode overrides to fix inconsistencies
.yuu-theme-dark
  .suggestion
    a
      .suggestion-row
        .page-title
          background: $darkPrimaryBg !important;
